html,
body {
    width: 100%;
    height: 100%;
    font-weight: 400;
    background-color: #F5F5F5;
    overflow-x: auto;
    color: #4E4E4E;
}

@-moz-document url-prefix() {
    .cpBox>p {
        height: 31px;
    }

    .cpBox>p a {
        padding: 0 !important;
        line-height: 31px;
    }

    .ItemPanelContent a {
        padding: 7px 0 7px 22px !important;
    }

    .ItemPanelContent a>span:nth-child(1) {
        line-height: 17px !important;
    }
}

a {
    text-decoration: none;
}

a[href="javascript:;"] {
    cursor: default !important;
}

.Navs:has(a[href="javascript:;"]) a[href="javascript:;"] {
    cursor: default !important;
}

:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animate__animated.animate__faster {
    -webkit-animation-duration: calc(1s / 2.5);
    animation-duration: calc(1s / 2.5);
    -webkit-animation-duration: calc(var(--animate-duration) / 2.5);
    animation-duration: calc(var(--animate-duration) / 2.5);
}

.animate__animated.animate__fast {
    -webkit-animation-duration: calc(1s * 0.8);
    animation-duration: calc(1s * 0.8);
    -webkit-animation-duration: calc(var(--animate-duration) * 0.8);
    animation-duration: calc(var(--animate-duration) * 0.8);
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 10%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 10%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}


@-webkit-keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.animate__fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.animate__fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


@-webkit-keyframes bounceOutRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0) scaleX(0.9);
        transform: translate3d(-20px, 0, 0) scaleX(0.9);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0) scaleX(2);
        transform: translate3d(2000px, 0, 0) scaleX(2);
    }
}

@keyframes bounceOutRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0) scaleX(0.9);
        transform: translate3d(-20px, 0, 0) scaleX(0.9);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0) scaleX(2);
        transform: translate3d(2000px, 0, 0) scaleX(2);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceInRight {

    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0) scaleX(3);
        transform: translate3d(3000px, 0, 0) scaleX(3);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0) scaleX(1);
        transform: translate3d(-25px, 0, 0) scaleX(1);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0) scaleX(0.98);
        transform: translate3d(10px, 0, 0) scaleX(0.98);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0) scaleX(0.995);
        transform: translate3d(-5px, 0, 0) scaleX(0.995);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInRight {

    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0) scaleX(3);
        transform: translate3d(3000px, 0, 0) scaleX(3);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0) scaleX(1);
        transform: translate3d(-25px, 0, 0) scaleX(1);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0) scaleX(0.98);
        transform: translate3d(10px, 0, 0) scaleX(0.98);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0) scaleX(0.995);
        transform: translate3d(-5px, 0, 0) scaleX(0.995);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate__bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}


.animate__slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}

.animate__bounceOutRight {
    -webkit-animation-name: bounceOutRight;
    animation-name: bounceOutRight;
}

.animate__fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    animation-duration: 0.5s;
}

.animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.ContentBox {
    width: 1200px;
    margin: 0 auto;
}

.divider {
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: #aeaeae;
}

.SiteMenu_Container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    min-width: 1220px;
}

.SiteMenu_Container>div {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SiteMenu_Container .logo {
    width: 154px;
    height: 40px;
    display: inline-flex;
}

.SiteMenu_Container .logo img {
    width: 100%;
    height: 100%;
}

.SiteMenu_Container .Title {
    font-size: 20px;
    font-weight: 600;
    color: #4E4E4E;
    padding-left: 12px;
    position: relative;
    margin-left: 9px;
    margin-right: 4px;
}

.SiteMenu_Container .Title:before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 20px;
    background: url("../img/break_icon.png") no-repeat center;
    background-size: cover;
    position: absolute;
    left: 0;
    top: calc(50% - 10px);
}

.SiteMenu_Container .SubStationLinks {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 14px;
}

.SiteMenu_Container .SubStationLinks a {
    font-size: 14px;
    font-weight: bold;
    margin: 0 6px;
    color: #666666;
}

.SiteMenu_Container .SubStationLinks a:hover {
    font-weight: bold;
}

.SiteMenu_Container .SubStationLinks i {
    font-style: normal;
    color: #AAAAAA;
}

.SiteMenu_Container .RightContent {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 40px;
}

.SiteMenu_Container .RightContent .VersionBox {
    display: flex;
    align-items: center;
}

.SiteMenu_Container .RightContent .VersionBox a {
    font-size: 14px;
    color: #666666;
    padding: 4px 16px 4px 26px;
    cursor: pointer !important;
    transition: all 0.4s;
}

.SiteMenu_Container .RightContent .VersionBox a:hover {
    opacity: 0.7;
}

.SiteMenu_Container .RightContent .VersionBox a:nth-child(1) {
    background: url("../img/home_img/en_icon.png") no-repeat left center;
    background-size: 20px 20px;
}

.SiteMenu_Container .RightContent .VersionBox a:nth-child(2) {
    background: url("../img/home_img/back_icon.png") no-repeat left center;
    background-size: 20px 20px;
}


.IndexBox {
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 12px;
    display: flex;
}

.IndexBox .Title {
    padding: 0 16px;
    min-width: 126px;
    height: 100%;
    background-color: #2872C9;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    box-sizing: border-box;
}

.IndexBox .Title>img {
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

.IndexBox .Title>a {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 100%;
}

.IndexBox .Title>a>span:nth-child(1) {
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.IndexBox .Title>a>span:nth-child(2) {
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 8px;
}

.IndexScrollBox {
    flex: 1;
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
}

.IndexScrollBox .ItemScroll {
    --width: var(--mywidth, 100%);
    flex: 1;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    overflow: hidden;
}

.ItemScroll:nth-child(1) {
    border-bottom: 1px solid #F2F2F2;
}

.ItemScroll>span {
    font-size: 14px;
    color: #666666;
    padding-left: 20px;
}

.ItemScroll:nth-child(1)>span {
    background: url("../img/home_img/complex_icon.png") no-repeat left center;
    background-size: 11px 11px;
}

.ItemScroll:nth-child(2)>span {
    background: url("../img/home_img/appraisal_icon.png") no-repeat left center;
    background-size: 11px 11px;
}

.ItemScroll>div {
    flex: 1;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 14px;
}

.IndexContent {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.IndexContent a {
    display: inline-flex;
    align-items: center;
    width: 33.333%;
    height: 100%;
    font-size: 14px;
    color: #4E4E4E;
}

.IndexContent a>span:nth-child(1) {
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #333333;
}

.IndexContent a>span:nth-child(2) {
    width: 140px;
    box-sizing: border-box;
}

.IndexContent a>span:nth-child(3) {
    width: 100px;
}

.IndexContent a>span {
    display: inline-block;
    text-align: center;
}

.up {
    color: #F7474A !important;
}

.down {
    color: #70B603 !important;
}

.ModuleTitle {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    padding: 14px 0 14px 29px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    color: #333333;
}

.ModuleTitle>a:nth-child(1) {
    font-size: 18px;
    color: #333333;
}

.ModuleTitle>a:nth-of-type(2) {
    margin-right: 12px;
    margin-left: auto;
    font-size: 14px;
    color: #818181;
}

.ModuleTitle:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 20px;
    background: url("../Img/break_icon.png") no-repeat center;
    background-size: cover;
    position: absolute;
    left: 16px;
    top: calc(50% - 10px);
}

.ModuleTitle .more_btn {
    margin-left: auto;
}

.activeVersion {
    font-weight: 600;
    color: #4E4E4E !important;
}

.NotLogged {
    display: flex;
    align-items: center;
}

.NotLogged a {
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    height: 24px;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 4px;
    transition: all 0.2s;
}

.NotLogged a:hover {
    opacity: 0.5;
}

.NotLogged a:nth-child(1) {
    border: 1px solid #2872C9;
    color: #2872C9;
}

.NotLogged a:nth-child(2) {
    background-color: #2872C9;
    color: #FFFFFF;
    margin-left: 10px;
}

.UserBox {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

.UserBox .avater_img {
    width: 30px;
    height: 30px;
}

.UserBox .username {
    font-size: 14px;
    color: #333333;
    margin: 0 10px 0 7px
}

.UserBox .arrow_icon {
    display: inline-block;
    width: 9px;
    height: 5px;
    background: url("../img/home_img/arrow_icon.png") no-repeat center;
    background-size: cover;
    cursor: pointer;
    transition: all 0.3s;
}

.UserBox .dropdown_box {
    position: absolute;
    width: 107px;
    top: 100%;
    left: -6px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    padding-top: 5px;
    display: none;
}

.flow_container {
    transition: all 0.5s;
    min-width: 1200px;
}

.flowstyle {
    background-color: #2872C9 !important;
}

.flowstyle .ProductNavsBox>div>a {
    color: #FFF !important;
}

.hasChildren>a {
    padding-right: 14px;
}

.flowstyle .hasChildren:after {
    content: "" !important;
    display: inline-block !important;
    width: 9px !important;
    height: 5px !important;
    background-size: cover !important;
    background: url(https://static.cnfeol.com/2023/img/home_img/arrow_white.svg) no-repeat center !important;
    position: absolute !important;
    right: -4px !important;
    top: calc(50% - 2.5px) !important;

}

.UserBox .dropdown_box:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #FFF;
    position: absolute;
    right: calc(50% - 5px);
    transform: rotate(45deg);
    top: -6px;
    box-shadow: -1px 0 1px rgba(0, 0, 0, 0.08),
        0 -1px 1px rgba(0, 0, 0, 0.08);
    z-index: 10;
}

.item_drop_down {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}

.item_drop_down:hover {
    background-color: #E9F1FA;
}

.item_drop_down a {
    display: flex;
    align-items: center;
}

.item_drop_down i {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.item_drop_down span {
    font-size: 14px;
    color: #666666;
    margin-left: 2px;
}

.item_drop_down:nth-child(1) i {
    background: url("../img/home_img/helper_icon.png") no-repeat left center;
    background-size: cover;
}

.item_drop_down:nth-child(2) i {
    background: url("../img/home_img/collect_icon.png") no-repeat left center;
    background-size: cover;
}

.item_drop_down:nth-child(3) i {
    background: url("../img/home_img/message_icon.png") no-repeat left center;
    background-size: cover;
}

.item_drop_down:nth-child(4) i {
    background: url("../img/home_img/login_out_icon.png") no-repeat left center;
    background-size: cover;
}


.SiteMenu_Container .RightContent .LoginBox a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.SiteMenu_Container .RightContent .LoginBox {
    display: flex;
    position: relative;
    margin-left: 16px;
}

.SiteMenu_Container .RightContent .LoginBox a:nth-child(1) {
    margin-right: 20px;
    background: linear-gradient(180deg, rgba(76, 155, 237, 1), rgba(46, 96, 187, 1));
}

.SiteMenu_Container .RightContent .LoginBox a:nth-child(1):before {
    content: "";
    position: absolute;
    width: 42px;
    height: 18px;
    left: 1px;
    top: 1px;
    border-radius: 7px;
    background: #FFFFFF;
}

.SiteMenu_Container .RightContent .LoginBox:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: #c4c4c4;
    position: absolute;
    left: 54px;
    top: calc(50% - 8px);
}

.SiteMenu_Container .RightContent .LoginBox a:nth-child(1) span {
    font-size: 12px;
    background: linear-gradient(180deg, #4C9BED 0%, #2E60BB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;

}

.SiteMenu_Container .RightContent .LoginBox a:nth-child(2) {
    background: linear-gradient(180deg, #4C9BED 0%, #2E60BB 100%);
    color: #FFFFFF;
}

.SiteMenu_Container .RightContent .LoginBox a:nth-child(2) span {
    font-size: 12px;
}

.SubstationLinkBox {
    min-width: 1220px;
    margin-top: 12px;
    /*margin-left: -50vw;*/
    /*margin-right: -50vw;*/
    height: 56px;
    background-color: #2872C9;
}

.SubstationLinkBox .Links {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SubstationLinkBox .Links a {
    font-size: 18px;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    height: 100%;
    /*padding: 0 12px;*/
    /*margin: 0 24px;*/
    position: relative;
    z-index: 1;
}

.SubstationLinkBox .Links a:before {
    content: "";
    display: none;
    position: absolute;
    left: -12px;
    top: 0;
    width: calc(100% + 24px);
    height: 100%;
    background-color: #1E66BC;
    z-index: -1;
    animation: aaa 1s;
}


.SubstationLinkBox .Links a:hover {
    font-weight: bold;
}

.SubstationLinkBox .Links a:hover:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: -12px;
    top: 0;
    width: calc(100% + 24px);
    height: 100%;
    background-color: #1E66BC;
    z-index: -1;
}

.ProductNavsBox {
    /*margin-top: 12px;*/
    /*margin: 0 -50vw 0 -50vw;*/
    margin: 0 auto;
    width: 1200px;
    height: 44px;
    /*background-color: #FFFFFF;*/
    /*background: linear-gradient(180deg, #4C9BED 0%, #2E60BB 100%);*/
    display: flex;
    justify-content: space-between;
}

.ProductNavsBox>div {

    height: 100%;
    position: relative;
    cursor: pointer;
}

.ProductNavsBox>div.hasChildren:after {
    content: "";
    display: inline-block;
    width: 9px;
    height: 5px;
    background: url('../img/home_img/arrow_icon.png') no-repeat center;
    background-size: cover;
    position: absolute;
    right: 0px;
    top: calc(50% - 2.5px);
    transition: all 0.3s;
}

.ProductNavsBox>div.up:after {
    content: "";
    transform: rotate(180deg);
}


.ProductNavsBox>div:hover>a {
    font-weight: bold;
    font-size: 14px;
    color: #2872C9;
}

.ProductNavsBox>div>a {
    /*padding: 0 14px;*/
    /*color: #4E4E4E;*/
    font-size: 14px;
    color: #333333;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.toLeft {
    left: auto !important;
    right: -2px !important;
}

.ProductNavsBox>div>ul {
    display: none;
    position: absolute;
    top: calc(100% - 8px);
    left: 0;
    min-width: 160px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
}

.show {
    display: block !important;
}

.ProductNavsBox>div>ul a {
    display: flex;
    align-items: center;
    height: 40px;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    font-size: 14px;
    color: #4E4E4E;
    border-bottom: 1px solid #EDEDED;
}

.ProductNavsBox>div>ul a:hover {
    background: rgba(40, 114, 201, 0.1);
    color: #2872C9;

}

.TopScrollNewsBox {
    flex: 1;
    overflow: hidden;
    height: 48px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}

.TopScrollNewsBox .more_btn {
    margin-right: 10px;
}

.notifyTitle {
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    display: inline-flex;
    align-items: center;
}

.notifyTitle img {
    width: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.TopScrollNewsBox .News {
    flex: 1;
    height: 100%;
    overflow: hidden;
    display: inline-flex;
    flex-wrap: wrap;
}

.TopScrollNewsBox .News>div {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    transition: all 1s;
    overflow: hidden;
}

.TopScrollNewsBox .News a {
    box-sizing: border-box;
    padding: 0 12px;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: #666666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.BigSwiper {
    width: 100%;
    overflow: hidden;
    margin-top: 12px;
    position: relative;
}

.BigSwiper a,
.BigSwiper a img {
    display: flex;
    width: 100%;
    height: 100%;
}

.currentBullet {
    display: inline-flex;
    width: 8px;
    height: 5px;
    background: #FFFFFF;
    opacity: 0.8;
    margin: 0 2px;
    border-radius: 6px;
}

.activeCurrentBullet {
    width: 18px;
    height: 5px;
    background: #FFFFFF;
    opacity: 1;
    border-radius: 6px;
}

.swiper-pagination {
    bottom: 2px !important;
}

.swiper-pagination2 {
    position: absolute;
    bottom: 10px !important;
    z-index: 30;
    display: flex;
    justify-content: center;
}

.activeCurrentBullet {
    background: linear-gradient(180deg, #4C9BED 0%, #2E60BB 100%);
}

.ServiceBox {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    background: #FFFFFF;
    border-radius: 4px;
}

.ServiceBox .ServiceModule {
    flex: 1;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
}

.ServiceBox .ServiceModule:nth-child(2):before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 64px;
    background-color: #ececec;
    position: absolute;
    left: 0;
    top: calc(50% - 32px);
}

.ServiceBox .ServiceModule:nth-child(2):after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 64px;
    background-color: #ececec;
    position: absolute;
    right: 0;
    top: calc(50% - 32px);
}

.ServiceModule .Title {
    padding-top: 40px;
    margin: 0 29px 0 39px;
    font-weight: bold;
    color: #2872C9;
}

.ServiceModule .Title span {
    font-weight: bold;
    font-size: 16px;
    color: #2872C9;
}

.ServiceModule:nth-child(1) .Title {
    background: url("../img/home_img/service1_icon.png") no-repeat top center;
    background-size: 28px 28px;
}

.ServiceModule:nth-child(2) .Title {
    background: url("../img/home_img/service2_icon.png") no-repeat top center;
    background-size: 28px 28px;
}

.ServiceModule:nth-child(3) .Title {
    background: url("../img/home_img/service3_icon.png") no-repeat top center;
    background-size: 28px 28px;
}

.SiteService {
    display: grid;
    /*grid-column-gap: 20px;*/
    grid-row-gap: 18px;
    grid-template-columns: auto auto auto;
    flex: 1;
}

.SiteService a {
    font-size: 14px;
    color: #666666;
    position: relative;
    padding-left: 12px;
}

.SiteService a:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #D8D8D8;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: calc(50% - 2px);
}


.SiteService a:hover {
    color: #2872C9;
}

.SiteService a:hover:before {
    background: #2872C9;
}

.RecommendVip,
.InfoCategory {
    display: flex;
    flex-wrap: wrap;
}

.RecommendVip a,
.InfoCategory a {
    font-size: 16px;
    color: #4E4E4E;
}

.InfoCategory a {
    margin-right: 15px;
    line-height: 28px;
    /*margin-bottom: 6px;*/
}

.RecommendVip a {
    margin-right: 9px;
    line-height: 28px;
}

.RecommendVip a:hover,
.InfoCategory a:hover {
    color: #EB9238;
}

.SearchBox {
    margin-top: 12px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    box-sizing: border-box;
    align-items: stretch;
}

.left_search {
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 4px;
    margin-right: 10px;
}

.BreakTitle {
    font-weight: bold;
    font-size: 18px;
    color: #333333;
    padding-left: 12px;
    position: relative;
    margin-left: 16px;
}

.BreakTitle:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 20px;
    background: url(../img/break_icon.png) no-repeat center;
    background-size: cover;
    position: absolute;
    left: 0;
    top: calc(50% - 10px);
}

.SearchBox .SearchInput {
    width: 247px;
    height: 32px;
    background: #F8F8F8;
    margin-left: 8px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    position: relative;
    /*background: url("../img/search_icon.png") no-repeat right 8px center;*/
    /*background-size: 14px 14px;*/
}

.SearchBox .SearchInput input {
    transition: all 0.28s;
    outline: none;
    border: none;
    padding-left: 8px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;

    color: #696969;
    font-size: 14px;
}

.SearchBox .SearchInput input:focus {
    box-shadow: 0 0 0 1px #4C9BED inset;
}

.SearchBox .SearchInput i {
    display: inline-block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: calc(50% - 16px);
}

.SearchBox .SearchInput i:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../img/search_icon.png") no-repeat center;
    background-size: 14px 14px;
    position: absolute;
    left: 0;
    top: 0;
}

.publicMsgBox {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.publicMsgBox a {
    padding-left: 24px;
    margin: 0 12px;
    line-height: 22px;
}

.publicMsgBox a>span {
    font-size: 14px;
    color: #333333;
}

.publicMsgBox a:nth-child(1) {
    background: url("../img/home_img/public1_icon.png") no-repeat left center;
    background-size: 20px auto;
}

.publicMsgBox a:nth-child(2) {
    background: url("../img/home_img/public2_icon.png") no-repeat left center;
    background-size: 20px auto;
}

.publicMsgBox a:nth-child(3) {
    background: url("../img/home_img/public3_icon.png") no-repeat left center;
    background-size: 20px auto;
}

.Footer {
    width: 100vw;
    min-height: 228px;
    margin-left: calc(50% - 50vw);
    background-color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.Footer .Content {
    width: 1200px;
    margin: 0px auto 0;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.Footer .Content>div:nth-child(1) {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Footer .Content>div:nth-child(1) a {
    color: #FFFFFF;
    margin: 0 10px;
}

.Footer .Content>div:nth-child(2) {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 16px;
}

.Footer .Content>div:nth-child(2)>span:nth-child(1) {
    padding-left: 20px;
    background: url("../img/phone_icon.png") no-repeat left center;
    background-size: 20px 20px;
}

.Footer .Content>div:nth-child(3) a {
    display: flex;
    align-items: center;
    color: #999999;
}

.Footer .Content>div:nth-child(3) a:hover {
    text-decoration: underline;
}

.Footer .Content>div:nth-child(3),
.Footer .Content>div:nth-child(4),
.Footer .Content>div:nth-child(5) {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    margin-top: 10px;
}

.Footer .Content>a {
    display: flex;
    margin: 12px auto 0;
}

.Footer .Bottom_Common_Icon {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer .Bottom_Common_Icon a:nth-child(1) {
    margin-right: 60px;
}

.NoData {
    width: 100%;
    /*height: 300px;*/
    flex: 1;
    background: url("../img/no_data.png") no-repeat top 34% center;
    background-size: 45% auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.NoData>p {
    margin-top: 44%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NoData>p span:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
}

.NoData>p span:nth-child(2) {
    font-size: 14px;
    color: #666666;
    margin-top: 10px;
}


.SliderRightBox {
    align-items: center;
    display: flex;
    height: 102px;
    position: fixed;
    right: 0px;
    top: calc(50% - 51px);
    /*bottom: 30px;*/
    width: 82px;
    z-index: 100;
    display: none;
    pointer-events: none;
}

.ShowSliderRightBox {
    display: flex !important;
}


.SliderRightBox .itemFlexd {
    box-sizing: border-box;
    cursor: pointer;
    font-size: 0;
    height: 62px;
    margin-top: -1px;
    position: relative;
    width: 60px;
    background-color: #FFFFFF;
    pointer-events: all;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SliderRightBox .itemFlexd:last-child {
    margin-top: 10px;
}

.SliderRightBox .itemFlexd:hover {
    /*display: inline-flex;*/
    background-color: #3C7BD2;
    border-radius: 4px;
}

.SliderRightBox .itemFlexd:hover i {
    color: #FFFFFF;
}

.SliderRightBox .itemFlexd:hover>p img {
    filter: invert(1) brightness(120%) contrast(1.5);
}

.SliderRightBox .itemFlexd i {

    font-size: 12px;
    font-style: normal;
    text-align: center;
    /*display: none;*/
    pointer-events: none;
    margin-top: 4px;
}

.SliderRightBox .itemFlexd>p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SliderRightBox .itemFlexd>p img {
    width: 28px;
    height: auto;
}

.SliderRightBox .itemFlexd>div {
    display: none;
    flex-direction: column;
    align-items: center;
    min-width: 170px;
    right: calc(100% + 20px);
    padding: 10px 0;
}

.SliderRightBox .itemFlexd>div:after {
    content: "";
    display: inline-block;
    border-left: 14px solid #FFFFFF;
    border-top: 10px solid transparent;
    border-right: none;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: -14px;
    top: 50px;
}

.SliderRightBox .itemFlexd>div img {
    width: 100px;
    height: 100px;
}

.SliderRightBox .itemFlexd>p>span {
    font-size: 12px;
    color: #646464;
    margin-top: 4px;
}

.itemFlexd:nth-child(1) a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.WechatCodeBox {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: none;
    position: absolute;
    z-index: 2000;
    top: -100px;
}

.WechatCodeBox:after {
    top: 122px !important;
}

.WechatCodeBox>img,
.WechatCodeBox>p {
    margin-top: 6px;
}

.WeChatPublicNumbeBox {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: none;
    position: absolute;
    top: -80px;
    z-index: 2000;
    padding: 10px 10px !important;
}

.WeChatPublicNumbeBox:after {
    top: 101px !important;
}

.WeChatPublicNumbeBox>p,
.WeChatPublicNumbeBox>img {
    margin-top: 10px;
}

.DownloadCodeBox {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    bottom: -180px;
    display: none;
    position: absolute;
    z-index: 2000;
}

.DownloadCodeBox:after {
    top: 119px !important;
}

.DownloadCodeBox p,
.DownloadCodeBox img {
    margin-top: 10px;
}

.ContactLayerBox {
    top: -30px;
    position: absolute;
    z-index: 2000;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

/*.ContactLayerBox:after{*/
/*    content: "";*/
/*    display: inline-block;*/
/*    border-left: 14px solid #FFFFFF;*/
/*    border-top: 10px solid transparent;*/
/*    border-right: none;*/
/*    border-bottom: 10px solid transparent;*/
/*    position: absolute;*/
/*    right: -14px;*/
/*    top: 50px;*/
/*}*/
.ContactLayerBox p:nth-child(1) {
    color: #3C7BD2;
    font-size: 14px !important;
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
}

.ContactLayerBox p:nth-child(2) {
    text-align: center;
    color: #666666;
    font-size: 14px;
    margin-top: 8px;
}

.ContactLayerBox p:nth-child(3) {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: gray;
    line-height: 20px;
    margin-top: 10px;
}

.WechatCodeBox p {
    color: #666666;
    font-size: 14px;
}

.WechatCodeBox p:first-child {
    color: #3C7BD2;
    font-size: 14px !important;
    font-weight: bold;

}

.WechatCodeBox .fg_line {
    background: #eeeeee;
    display: inline-block;
    height: 1px;
    margin-left: 40px;
    margin-top: 0px;
    width: 120px;
}

.WeChatPublicNumbeBox p {
    font-size: 14px;
}

.WeChatPublicNumbeBox p:nth-of-type(1) {
    color: #3d66c4;
    font-size: 14px !important;
    font-weight: bold;
}

.WeChatPublicNumbeBox>span {
    border-top: 1px solid #eeeeee;
    display: block;
    height: 1px;
    margin: 10px 32px;
    width: 120px;
}

.DownloadCodeBox p {
    color: #666666;
    font-size: 14px;
}

.DownloadCodeBox p:nth-of-type(1) {
    color: #3C7BD2;
    font-size: 14px !important;
    font-weight: bold;
}


.FollowBtn {
    position: fixed;
    right: 16px;
    bottom: 50px;
    z-index: 1000;
    width: 30px;
    height: 139px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.FollowBtn>span:nth-of-type(1) {
    font-size: 12px;
    color: #333333;
    writing-mode: vertical-rl;
    margin: 10px 0;
}

.FollowBtn>span:nth-of-type(1) i {
    font-style: normal;
    margin: 0px 0 2px;
}

.FollowBtn>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.FollowBtn>div span:nth-of-type(1) {
    font-size: 10px;
    color: #333333;
}


.FollowBtn img {
    width: 18px;
}

.FollowBtn>img:nth-of-type(1) {
    margin-top: 10px;
}

.ImgBox {
    display: flex;
    height: 52px;
    margin-top: 12px;
}

.ImgBox>a {
    display: inline-flex;
    flex: 1;
    height: 100%;
    margin: 0 12px;
}

.ImgBox>a:nth-of-type(1) {
    margin-left: 0;
}

.ImgBox>a:last-child {
    margin-right: 0;
}

.ImgBox>a>img {
    width: 100%;
    height: 100%;
}

.MoreBtn {
    font-size: 12px;
    color: #AAAAAA;
    padding-right: 10px;
    font-weight: bold;
}

.PriceMap {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.PriceMap>div:nth-child(2) {
    flex: 1;
    box-sizing: border-box;
    padding: 0 15px;
}

.PriceMap>div:nth-child(2) iframe {
    width: 100%;
    height: 100%;
}


.department_data {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ProductStateBox {
    flex: 1;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*.ProductStateBox > div {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-around;*/
/*}*/

.department_data>div {
    position: relative;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}

.department_data>div:after {
    content: "";
    display: inline-block;
    width: 86px;
    height: 100%;
    background-color: #3C7BD2;
    position: absolute;
    left: 0;
    top: 0;
}


.StateTitle {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    width: 86px;
    text-align: center;
}

.Unit {
    width: 86px;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
}

.department_data>div>div {
    display: flex;
    box-sizing: border-box;
    flex: 1;
    position: relative;
    z-index: 1;
}

.department_data>div>div:nth-child(1) span:not([class='StateTitle']) {
    font-size: 14px;
    font-weight: bold;
    color: #3C7BD2;
    flex: 1;
    text-align: center;
}

.department_data>div>div:nth-child(1) {
    align-items: end;
    padding-bottom: 3px;
}

.department_data>div>div:nth-child(2) {
    align-items: start;
    padding-top: 3px;
}

.department_data>div>div:nth-child(2) span:not([class='Unit']) {
    font-size: 12px;
    color: #666666;
    flex: 1;
    text-align: center;
}

.department_data>div>div:nth-child(1) span:not([class='StateTitle']) .notLevel,
.notLogin {
    /*position: absolute;*/
    /*top: 19px;*/
    /*right: 70px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.notLevel {
    right: 51px;
    top: 35px;
}

.notLogin img {
    width: 188px;
    height: 188px;
}

.notLevel img {
    width: 220px;
}

.notLevel p,
.notLogin p {
    font-size: 14px;
    color: #818181;
    margin-top: 10px;
    text-align: center;
}

.notLevel p {
    line-height: 24px;
}

.rightHotList .ItemHotMsg {
    width: 100%;
}

.rightHotList .ItemHotMsg>a>p>span:nth-child(1) {
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.DOColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.DOColumn .leftContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}

.leftContainer .PanelNavs a {
    width: auto !important;
}

.leftContainer .PanelNavs a:before {
    content: none !important;
}

.leftContainer .DOColumn .ProductList {
    padding: 0;
}

.leftContainer .DOColumn .ProductList .ItemLists {
    width: 100%;
    min-height: auto;
}

.leftContainer .DOColumn .ProductList .ItemLists .ItemPanel {
    width: 100%;
}

.leftContainer .ItemPanelContent {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leftContainer .DOColumn .ProductList a {
    display: inline-flex;
    align-items: center;
    width: 45%;
}

.DOColumn .ProductList {
    flex: 1;
    overflow: hidden;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.DOColumn .ProductList a {
    width: 45%;
    /*float: left;*/
    font-size: 14px !important;
    color: #4E4E4E;
    display: flex;
    justify-content: space-between;
    padding: 9px 0 9px 14px;
    position: relative;
}

.DOColumn .ProductList a:nth-child(2n) {
    /*margin-left: 30px;*/
}

.DOColumn .ProductList a>span:nth-child(1) {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    box-sizing: border-box;
    padding-right: 14px;
}

.DOColumn .ProductList a:hover {
    color: #1975fc;
    text-decoration: underline;
}

.DOColumn .ProductList a:hover:before {
    background-color: #1975fc;
}

.DOColumn .ProductList a:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #545454;
    position: absolute;
    left: 0;
    top: calc(50% - 3px);
}


.HotSwiper2 {
    width: 428px;
    height: 286px;
    overflow: hidden;
    position: relative;
}

.DOColumn .Tabs .TabsList {
    width: 100% !important;
    margin-right: 0 !important;
}

.threeColBox,
.commonBox {
    /*min-height: 284px;*/
    display: flex;
    margin-top: 12px;
}

.threeColBox {
    max-height: initial;
}

.threeColBox .leftBox,
.threeColBox .middleBox {
    width: 374px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.threeColBox .TabsList {
    margin-right: 0;
    width: 100%;
}

.threeColBox .rightBox {
    width: calc(100% - 760px);
    box-sizing: border-box;
}

.threeColBox .middleBox {
    margin: 0 12px;
}

.threeColBox .TabPanelBox {
    margin-top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.threeColBox .ItemLists {
    min-height: auto;
}

.threeColBox .ItemLists .ItemPanel {
    width: 100%;
}

.threeColBox .HotList .ItemHotMsg {
    height: 16.66666666666667%;
}

.commonBox .leftContainer {
    width: 798px;
    flex-shrink: 0;
    margin-right: 12px;

    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.commonBox .rightContainer {
    flex: 1;
    overflow: hidden;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.commonBox .rightContainer .TabsList {
    width: 100%;
    display: inline-flex;
}

.rightContainer .ProductList {
    /*height: calc(100% - 56px);*/
}

.rightContainer .ProductList .ItemPanelContent {
    /*justify-content: space-around;*/
}

.commonBox .rightContainer .ItemLists .ItemPanel {
    width: 100%;
}

.HotNews {
    flex: 1;
    width: 798px;
    /*height: 100%;*/
    margin-right: 12px;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.HotListBox {
    width: 100%;
    flex: 1;
    display: flex;
    padding: 0 16px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    height: 246px;
}

.HotList {
    height: 246px;
    flex: 1;
    overflow: hidden;
}

.HotList:nth-child(2) {
    margin-left: 26px;
    padding-right: 14px;
}

.ItemHotMsg {
    background: #FFFFFF;
    height: 20%;
}

.ItemHotMsg>a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    color: #4E4E4E;
}

.ItemHotMsg>a>span {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #AAAAAA;
    font-size: 12px;
    flex-shrink: 0;
    background-color: #F5F5F5;
}

.ItemHotMsg>a>p {
    flex: 1;
    border-bottom: 1px solid #F2F2F2;
    height: 100%;
    margin-left: 8px;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    margin-right: 20px;
}

.ItemHotMsg>a>p>span:nth-child(1) {
    font-size: 14px;
    display: inline-block;
    width: 100%;
    color: #4E4E4E;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    line-height: 1.1;
}

/*.ItemHotMsg>a>p>span:nth-child(2){*/
/*    font-size: 14px;*/
/*    float: right;*/
/*    color: #4E4E4E;*/
/*}*/
.vip {
    background: url("../Img/vip_icon.png") no-repeat right center;
    background-size: 20px 20px;
}

.platinum {
    background: url("../Img/platinum_icon.png") no-repeat right center;
    background-size: 20px 20px;
}

.diamond {
    background: url("../Img/diamond_icon.png") no-repeat right center;
    background-size: 20px 20px;
}

.HotList:nth-child(1) .ItemHotMsg:nth-child(1)>a>span {
    background-color: #FD0255;
    color: #FFFFFF;
}

.leftContainer .HotList:nth-child(1) .ItemHotMsg:nth-child(2)>a>span {
    background-color: #FF7C3D;
    color: #FFFFFF;
}

.HotList:nth-child(1) .ItemHotMsg:nth-child(2)>a>span,
.leftContainer .HotList:nth-child(1) .ItemHotMsg:nth-child(3)>a>span {
    background-color: #FDB602;
    color: #FFFFFF;
}

.TabPanelBox {
    margin-top: 12px;
    background-color: #FFFFFF;
    border-radius: 4px;
    /*height: 430px !important;*/
}

.TabPanelBox>div:first-child:not([class="Tabs"]) {
    padding-top: 12px;
}

.TabPanelBox .Tabs {
    /*height: 52px;*/
    display: flex;
}

.TabPanelBox .Tabs .TabsList {
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.ItemLists {
    /*justify-content: space-between;*/
    min-height: 268px;
    height: 100%;
    display: flex;
    display: none;
}

.showItemLists {
    display: flex;
}

.ItemLists .ItemPanel {
    width: 392px;
    box-sizing: border-box;
    padding: 0 10px 6px 10px;
    transition: all .2s linear;
}

/*.ItemLists .ItemPanel:hover{*/
/*    box-shadow: 0 15px 20px rgba(0,0,0,.1);*/
/*    -webkit-transform: translate3d(0,-2px,0);*/
/*    transform: translate3d(0,-2px,0);*/
/*}*/
.ItemLists .ItemPanel:nth-child(2) {
    margin: 0 12px;
}

.ItemLists .ItemPanel:nth-child(3) {}

.ItemLists .ItemPanel .PanelNavs {
    padding: 10px 0 10px 8px;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 4px;
    box-sizing: border-box;
}

.ItemLists .ItemPanel .PanelNavs>a {
    font-size: 14px;
    color: #4B4B4B;
    /*margin-right: 8px;*/
    cursor: pointer;
    flex-shrink: 0;
    padding: 5px 8px;
}

.ProductList {
    flex: 1;
    overflow: hidden;
}

.generalProdName,
.activeTab {
    color: #FFFFFF !important;
    background: #3C7BD2;
    border-radius: 2px;
}

.activeTab2 {
    color: #3C7BD2 !important;
    font-weight: bold;
}

.ItemPanelContent {
    width: 100%;
    flex-shrink: 0;
    display: inline-flex;
    /*flex-direction: row;*/
    flex-direction: column;
    flex-wrap: wrap;
    display: none;
}

.ItemPanelContent a {
    font-size: 14px !important;
    color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 8px 0 8px 22px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.ItemPanelContent a>span:nth-child(1) {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    box-sizing: border-box;
    padding-right: 14px;
    /*line-height: 16px;*/
}

.ItemPanelContent a:hover {
    color: #3C7BD2;
}

.ItemPanelContent a:hover:before {
    background-color: #3C7BD2;
}

.ItemPanelContent a:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #D9D9D9;
    position: absolute;
    left: 7px;
    top: calc(50% - 3px);
}

.cpBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 346px;
}

.cpBox>p {
    width: 50%;
    display: inline-flex;
    box-sizing: border-box;
    padding: 0 0 0 8px;
}

.cpBox a {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
}

.cpBox a:before {
    content: none;
}

.DiamondCol {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.DiamondCol>div:nth-child(2) {
    flex: 1;
    box-sizing: border-box;
}

.DiamondCol .TabPanelBox {
    margin-top: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.DiamondCol .TabsList {
    width: 100% !important;
    margin-right: 0px !important;
}

.DiamondCol .ProductList {
    flex: 1;
}

.DiamondCol .ItemLists {
    height: 100%;
}

.rightContainer .ItemLists {
    min-height: auto;
    height: 100%;
}

.DiamondCol .ItemLists .ItemPanel {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 20px 10px;
}

.DiamondCol .ItemPanelContent a {
    padding: 7px 0 7px 14px;
}

.DiamondCol .ItemPanelContent {
    justify-content: space-between;
}

/*:has(>a:not([href*="javascript"],[href=""]):hover)[class*="ModuleTitle"] > a {*/
/*    background: linear-gradient(180deg, #fa510b 0%, #ef7d36 100%) !important;*/
/*    -webkit-background-clip: text !important;*/
/*    -webkit-text-fill-color: transparent !important;*/
/*}*/
.colspan1 .ItemPanel .PanelContentBox {
    margin-top: 14px;
}

.colspan1 .ItemPanel .PanelNavs+.PanelContentBox {
    margin-top: 0px;
}

.colspan1>div:only-child {

    margin-top: 10px;
}

.colspan1 {
    width: 392px;
    /*float: left;*/
    float: none !important;
    display: inline-flex;
    flex-direction: column;
    height: 408px !important;
    vertical-align: bottom;
}

.colspan1 {
    margin-right: 7px;
}

.colspan2 .TabsList,
.colspan1 .TabsList {
    margin-right: 0px !important;
}

.colspan2 .ItemLists .ItemPanel:nth-child(2) {
    margin-right: 0;
}

.colspan1 .TabsList {
    width: 374px;
}

.colspan2 {
    display: inline-flex;
    flex-direction: column;
    margin-right: 7px;
    height: 408px !important;
    vertical-align: top;
}

@supports not (-webkit-touch-callout: default) {
    .lastcol {
        margin-left: -1px;
    }
}

.lastcol {
    width: 392px;
    margin-right: 0px;
    font-size: 0px;

}

.lastcol .TabsList {
    width: 100% !important;
    margin-right: 0px;

}

.lastcol .ItemLists .ItemPanel {
    width: 100%;
}

.Footer {
    clear: both;
}

.swiper-slide img {
    height: 100% !important;
}

.boxTitle {
    /*height: 52px;*/
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 16px;
}

.boxTitle a,
.boxTitle .title {
    position: relative;
    padding-left: 14px;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.boxTitle a {
    font-size: 14px;
}

.boxTitle .title:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 20px;
    position: absolute;
    left: 0;
    top: calc(50% - 10px);
    background: linear-gradient(#E8851F 0% 25%, #D82A2A 25% 50%, #2872C9 50% 75%, #0550AA 75% 100%);
}

.modifyLayer {
    box-sizing: border-box;
}

.modifyLayer .layerHeader {
    padding: 0 14px 0 44px;
    border-bottom: 1px solid #E5E5E5;
}

.commonLayer {
    width: 608px;
    min-height: 357px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 58px 0px rgba(121, 145, 173, 0.1955);
    border-radius: 4px;
}

.commonLayer .Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 289px;
}

.commonLayer .Content>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
    border-top: 1px solid #E5E5E5;
}

.commonLayer .Content>div a {
    margin: 0 10px;
}

.commonLayer .Content>span {
    flex: 1;
    font-size: 16px;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.commonLayer .Content>div a:nth-child(2) {
    background-color: transparent;
    color: #9a9a9a;
    border: 1px solid #f1f1f1;
}

.layerBox {
    background-color: transparent !important;
    box-shadow: none !important;
}

.layerHeader {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layerHeader>span {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.layerHeader>i {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../img/close.svg") no-repeat center;
    background-size: cover;
    cursor: pointer;
    transition: all 0.28s;
}

.layerHeader>i:hover {
    opacity: 0.8;
}

.submitBtn {
    display: block;
    height: 38px;
    background-color: #3C7BD2;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    line-height: 38px;
    padding: 0 20px;
    transition: all 0.4s;
}

.submitBtn:hover {
    opacity: 0.7;
}

.SelDataType {
    display: none;
}

.h394 {
    height: 394px !important;
}

.h408 {
    height: 408px !important;
}

.h344 {
    height: 344px !important;
}

.customTip>div {
    background-color: #FFFFFF !important;
    color: #4d4d4d !important;
}

.customTip>div>i {
    border-top-color: #cccccc !important;
    border-right-color: transparent !important;
    bottom: -16px !important;
    left: 10px !important;
}

.HotSwiper a {
    display: flex;
    height: 100%;
}

.adlogo {
    position: relative;
    overflow: hidden;
    display: inline-flex;
}

.adlogo:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 24px;
    height: 14px;
    background: url("https://static.cnfeol.com/images/flag_icon.png") no-repeat center;
    background-size: cover;
}


.Pagination {
    margin-top: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Pagination>a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 34px;
    height: 34px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #F1F1F1;
    margin-left: 5px;
    font-size: 14px;
    color: #333333;
    overflow: hidden;
}


.Pagination>a img {
    width: 22px;
    height: 22px;
    transform: translateX(-80px);
    filter: drop-shadow(#2b2b2b 80px 0px);
}

.Pagination>a img.disabled {
    cursor: not-allowed !important;
    filter: drop-shadow(#c6c6c6 80px 0px) !important;
}

.Pagination>a.active {
    /*border-color: #4373F8;*/
    /*background-color: #4373F8;*/
    background: #217BE5;
    border-radius: 4px;
    color: #FFFFFF;
}

.Pagination>a.active svg path {
    fill: #FFFFFF;
}

.font_blue {
    color: #4C9BED;
}


.Position_Comp {
    flex: 1;
    display: inline-block;
    height: 12px;
    margin-left: 22px;
    background: repeating-linear-gradient(-45deg, #FFF 0px, #FFF 2px, #F4F4F4 2px, #F4F4F4 4px);
}

.more_btn {
    font-weight: normal !important;
    font-size: 12px !important;
    color: #AAAAAA;
    padding-right: 16px;
    background: url("../img/home_img/arrow.svg") no-repeat right center;
    background-size: 12px 12px;
}

.commonBox .rightContainer .PanelContentBox {
    margin-top: 21px;
}

.commonBox .rightContainer .PanelNavs+.PanelContentBox {
    margin-top: 9px;
}

.colspan2 .ItemPanel .PanelNavs+.PanelContentBox .ItemPanelContent a:last-child,
.colspan1 .ItemPanel .PanelNavs+.PanelContentBox .ItemPanelContent a:last-child {
    display: none;
}


.footer_container {
    background-color: #323232;
    padding: 30px 0;
    margin-top: 30px;
    min-width: 1200px;
}

footer {
    width: 1200px;
    margin: 0 auto;
    position: relative;

}

footer>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 20px;
}

footer>div:nth-child(1) a {
    font-size: 14px;
    color: #FFFFFF;
}

footer>div:nth-child(1) a:after {
    content: "|";
    margin-left: 28px;
}

footer>div:nth-child(1) a:last-child:after {
    content: none;
}

footer>p {
    margin-bottom: 0px;
    font-size: 12px;
    color: #AAAAAA;
}

footer .footImg {
    position: absolute;
    bottom: 0;
    right: 0;
}

footer .footImg a {
    display: inline-flex;

}

footer .footImg a:nth-child(1) {
    width: auto;
    height: 40px;
}

footer .footImg a:nth-child(2) {
    width: 110px;
    height: 40px
}

footer .version_container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

footer .version_container a {
    color: #AAAAAA;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
}

footer .version_container a:hover {
    text-decoration: underline;
}

.TabPanelBox.FriendLink {
    height: auto !important;
}


.no_permission_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.no_permission_container>img {
    width: 30%;
}

.no_permission_container>div {
    display: inline-flex;
    flex-direction: column;
}

.no_permission_container>div>span:nth-child(1) {
    font-weight: bold;
    font-size: 16px;
    color: #333333;
}

.no_permission_container>div>span:nth-child(2) {
    font-size: 12px;
    margin-top: 6px;
    color: #666666;
}

.linestyle:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #F2F2F2;
}

.hotnews_pricemap {
    box-sizing: border-box;
    /*height: 288px;*/
    display: inline-flex;
    flex-direction: column;
    padding-bottom: 10px;
}


.layui-layer-tips {
    background: 0 0;
    box-shadow: none;
    border: none
}

.layui-layer-tips .layui-layer-content {
    position: relative;
    line-height: 22px;
    min-width: 12px;
    padding: 8px 15px;
    font-size: 12px;
    _float: left;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    background-color: #000;
    color: #fff
}

.layui-layer-tips .layui-layer-close {
    right: -2px;
    top: -1px
}

.layui-layer-tips i.layui-layer-TipsG {
    position: absolute;
    width: 0;
    height: 0;
    border-width: 8px;
    border-color: transparent;
    border-style: dashed;
    overflow: hidden;
}

.layui-layer-tips i.layui-layer-TipsB,
.layui-layer-tips i.layui-layer-TipsT {
    left: 5px;
    border-right-style: solid;
    border-right-color: #000;
}

.layui-layer-tips i.layui-layer-TipsT {
    bottom: -8px;
}

.layui-layer-tips i.layui-layer-TipsB {
    top: -8px;
}

.layui-layer-tips i.layui-layer-TipsL,
.layui-layer-tips i.layui-layer-TipsR {
    top: 5px;
    border-bottom-style: solid;
    border-bottom-color: #000;
}

.layui-layer-tips i.layui-layer-TipsR {
    left: -8px;
}

.layui-layer-tips i.layui-layer-TipsL {
    right: -8px;
}

.layui-layer-lan .layui-layer-title {
    background: #4476a7;
    color: #fff;
    border: none;
}


/* .not_hidden_last_child>a:last-child {
    display: flex !important;
} */